.theme-dark {
    --form-text: #fff;
    --display-text: #fff;
    --accent: #ff0000;
    --accent-text: #fff;
    --background-color: #000000b8;
    --background-accent: #000;
}



.theme-light {
    --form-text: #fff;
    --display-text: #fff;
    --accent: #ff0000;
    --accent-text: #fff;
    --background-color: #000;
    --background-accent: #000;
}

/* Hex codes: Mustard #E3B448, Sage #CBD18F, Forest Green #3A6B35 */

#root {
    /* max-width: 75vw;  */
    /*  maybe use 32 */
    /* max-height: 55vh; */
    margin: 0 auto;
    /* set max height to keep it tight and make them fhave to scroll*/
    text-align: center;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    /* padding: calc(4rem + 1em) 2em 1em 2em; */
    border: 1px solid #fff;
    border-radius: 10px;
}

#App {
    max-height: 55vh;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    overflow-y: scroll !important;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    /* itll start getting smaller at 320 */
    min-width: 320px;
    min-height: 100vh;
}


:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    /* movie scripts are written in courier */
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #18111d;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}



h1 {
    font-size: 3.2em;
    line-height: 1.1;
}





