/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
} */

.theme-dark {
    --dark-text: #292929;
    --light-text: #F9F8F8;
    --dark-background: #2F4550;
    --light-background: #485a64;
    --accent: #B8DBD9;
    --button-border: #B8DBD9;
    --littleDarker-background: rgb(29, 29, 39);
    --textarea-text: #fff;
}

.theme-light {
    --dark-text: #5E4B56;
    --light-text: #5E4B56;
    --dark-background: #DBE7E4;
    --light-background: #EDDCD2;
    --accent: #dee3e2;
    --button-border: #5E4B56;
    --littleDarker-background: #b5bcbb;
    --textarea-text: rgb(29, 29, 39);
}


#select-actor {
    background-color: var(--littleDarker-background);
    color: var(--light-text);
    border: var(--button-border) 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: max-content;
}

#card-actor-container {
    background-color: var(--littleDarker-background);
    /* color: var(--light-text); */
    border: var(--button-border) 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: max-content;
}

#card-actor-header {
    background-color: var(--dark-background);
}

#card-actor-body {
    background-color: var(--accent);
    color: var(--dark-text)
}


html,
#root {
    margin: 0 auto;
    background-color: var(--dark-background);
    color: var(--light-text);
}

textarea {
    width: 85%;
}

.actorItem-holder :hover {
    background-color: var(--accent);
}

.offcanvas-body {
    background-color: var(--accent) !important;
    color: var(--light-text);
}

.offcanvas-header {
    background-color: var(--littleDarker-background) !important;
    color: var(--light-text) !important;
}

.actorItem-holder {
    background-color: var(--littleDarker-background) !important;
    color: var(--light-text) !important;
    color: #b5bcbb;
}

.sample-scoreboard {
    border: 1px solid var(--light-text);
    /* max-width: 1280px; */
    margin-right: 15%;
    margin-left: 15%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#topNav {
    background-color: var(--accent) !important;
    color: var(--dark-text);
    margin-bottom: 1rem;
    border-bottom: var(--light-text) 1px solid;
}

#topNavLogo {
    border: var(--light-text) 3px solid;
    padding: 3px;
}